<form [formGroup]="myForm">

    Value: {{myForm.value | json }}

    <hr />

    <mat-form-field>
        <input matInput
               placeholder="email"
               formControlName="email"
               autocomplete
        />

        <!-- Using built in Validation States -->
        <!-- This MIGHT only work if you have the getters -->
        <mat-error *ngIf="email.invalid && email.touched">
            Your email doesn't look right 
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="password"
               placeholder="password"
               formControlName="password"
               autocomplete
        />
        <mat-hint align="end">Must have one letter, and one number</mat-hint>
        
        <mat-error *ngIf="password.invalid && password.touched">
            Your password sucks
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
               placeholder="age"
               [value]="0"
               formControlName="age"
               autocomplete
        />
        <mat-error *ngIf="age.errors?.min && age.touched">
            {{age.errors.min.actual}} is too young son
        </mat-error>

        <mat-error *ngIf="age.errors?.max && age.touched">
            {{age.errors.max.actual}} is too old. You won't get it.
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="agree"
                  color="primary"
    > Are You sure? 
    </mat-checkbox>

    <button mat-raised-button 
            [disabled]="myForm.invalid"
            color="primary"
    > Let's GO! 
    </button>
</form>
